#about{
  text-align: center;
  #create-room-form{
    font-size: 18px;
    label{
      display: block;
      margin: 0 0 12px 0;
      color: #8f8;
    }
    input{
      font-size: 18px;
      border-radius: 6px;
      border: none;
      background: #444;
      color: #8f8;
      text-align: center;
      padding: 6px;
    }
  }
}
