- var imageRoot = "img"

- var share_url = "http://mirakoku.com/"
- var tweet_message = "「みらいのこくばんプロジェクト」黒板にまつわる悩みや気づきや妄想を募集中！ #みらいのこくばん をつけてつぶやこう。"

- var dummyText = "これはダミーテキストです。これはダミーテキストです。これはダミーテキストです。これはダミーテキストです。これはダミーテキストです。これはダミーテキストです。これはダミーテキストです。これはダミーテキストです。これはダミーテキストです。これはダミーテキストです。これはダミーテキストです。これはダミーテキストです。これはダミーテキストです。これはダミーテキストです。"
